<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <title>Hello World.</title>

    <link rel="stylesheet" href="assets/bootstrap_v4.4.1.css">

  </head>
  <body>
  <div class="container">
    <div class="row">
      <form class="needs-validation" novalidate>

        <!-- // text input -->
        <div class="form-group col-md-12">
          <label for="sample">sample</label>
          <input type="text" class="form-control" id="sample" name="sample" placeholder="sample" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide the sample</div>
        </div>
      
        <!-- // email input -->
        <div class="form-group col-md-12">
          <label for="sample">sample</label>
          <input type="email" class="form-control" id="sample" name="sample" placeholder="sample" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide the sample</div>
        </div>
      
        <!-- // password input -->
        <div class="form-group col-md-12">
          <label for="sample">sample</label>
          <input type="email" class="form-control" id="sample" name="sample" placeholder="sample" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide the sample</div>
        </div>
      
        <!-- // number input -->
        <div class="form-group col-md-12 mb-3">
          <label for="sample">sample</label>
          <input type="number" class="form-control" id="sample" name="sample" placeholder="sample" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide the sample</div>
        </div>
      
        <!-- // file input -->
        <div class="form-group col-md-12 mb-3">
          <label for="sample">sample</label>
          <input type="file" class="form-control-file" id="sample" name="sample" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide the sample</div>
        </div>
      
        <!-- // dateTime input -->
        <div class="form-group col-md-12 mb-3">
          <label for="sample">sample</label>
          <input type="datetime" class="form-control" id="sample" name="sample" placeholder="sample" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide the sample</div>
        </div>
      
        <!-- // static select  -->
        <div class="form-group col-md-12 mb-3">
          <label for="sample">sample</label>
          <select class="form-control custom-select" id="sample" name="sample" required>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please select the sample</div>
        </div>
      
        <!-- // dynamic select    -->
        <div class="form-group col-md-12 mb-3">
          <label for="sample">sample</label>
          <select class="form-control custom-select" id="sample" name="sample" required>
            @foreach ($items as $item)
            <option value="{{$item->id}}"  @if ($Agent->nationality_id === $item->id) {{'selected'}} @endif >{{$item->name}}</option>
            @endforeach
          </select>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please select the sample</div>
        </div>
      
      
        <!-- // checkbox stacked -->
        <div class="form-group col-md-12 mb-3">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" value="checkboxOne" id="checkboxOne" name="checkboxOne">
            <label class="custom-control-label" for="checkboxOne">checkboxOne</label>
          </div>
      
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" value="checkboxTwo" id="checkboxTwo" name="checkboxTwo">
            <label class="custom-control-label" for="checkboxTwo">checkboxTwo</label>
          </div>
      
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please check one value</div>
        </div>
      
        <!-- // checkbox inline -->
        <div class="form-group col-md-12 mb-3">
          <div class="custom-control custom-checkbox custom-control-inline" >
            <input type="checkbox" class="custom-control-input" value="checkboxThree" id="checkboxThree" name="checkboxThree">
            <label class="custom-control-label" for="checkboxThree">checkboxThree</label>
          </div>
      
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input" value="sample" id="sample" name="sample">
            <label class="custom-control-label" for="sample">sample</label>
          </div>
      
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please check one value</div>
        </div>
      
        <!-- // radio stacked -->
        <div class="form-group col-md-12 mb-3">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="sample" id="sampleOne" name="sample">
            <label class="custom-control-label" for="sampleOne">sample</label>
          </div>
      
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="sample" id="sampleTwo" name="sample">
            <label class="custom-control-label" for="sampleTwo">sample</label>
          </div>
      
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please check one value</div>
        </div>
      
        <!-- // radio inline -->
        <div class="form-group col-md-12 mb-3">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" value="sample" id="sampleInlineOne" name="sample">
            <label class="custom-control-label" for="sampleInlineOne">sample</label>
          </div>
      
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" value="sample" id="sampleInlineTwo" name="sample">
            <label class="custom-control-label" for="sampleInlineTwo">sample</label>
          </div>
      
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please check one value</div>
        </div>
      
        <!-- // textarea input -->
        <div class="form-group col-md-12 mb-3">
          <label for="sample">sample</label>
          <textarea class="form-control" id="sample" name="sample" rows="3" placeholder="sample" required></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide the sample</div>
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
      <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
      </script>
    </div>
  </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/jquery_v3.4.1.js"></script>
    <script src="assets/popper_v1.6.0.js"></script>
    <script src="assets/bootstrap_v4.4.1.js"></script>

    <script>
      
    </script>
  </body>
</html>